@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   color: rgb(70, 70, 70)
}
.body {
    box-sizing: border-box;
    font-family: "Work Sans" sans-serif;
}
.header{
    height: 100vh;
    background-image: url(landingpage.jpeg);
    background-size: cover;   
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.menu-icon{
    width: 35px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}
nav ul li a:hover{
    color: rgb(36, 101, 251);
}
.text-box{
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}
.text-box h1{
    font-size: 50px;
    line-height: 40px;
}
.layout{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
    justify-content: space-between;
    
}
.box{
    width: 45%;
    height: 60vh;
}
.detail h1{
    padding-left: 50px;
    padding-top: 90px;
    font-size: 50px;
}
.detail p{
    padding-left: 40px;
    padding-top: 12px;
    font-size: 25px;
    letter-spacing: 1px;
}
.detail img{
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
}
.layout-2{
    display: flex;
    padding: 20px 50px;
    margin-top: 100px;
    justify-content: space-between;   
}
.box-2{
    width: 45%;
    height: 60vh;
}
.detail-2 h1{
    padding-right: 50px;
    padding-top: 80px;
    font-size: 50px;
    text-align: right;
}
.detail-2 p{
    padding-right: 40px;
    padding-top: 12px;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: right;
}
.detail-2 img{
    height: 300px;
}
.box-3{
    width: 45%;
    height: 60vh;
}
.detail-3 img{
    width: 600px;
    height: 400px;
    display: block;
    margin: 0 auto;
}
.detail-3 h1{
    padding-left: 50px;
    padding-top: 90px;
    font-size: 50px;
}
.detail-3 p{
    padding-left: 40px;
    padding-top: 12px;
    font-size: 25px;
    letter-spacing: 1px;  
}
.box-4{
    width: 45%;
    height: 60vh;
}
.detail-4 img{
    width: 450px;
    height: 350px;
    display: block;
    margin: 0 auto;
}
.detail-4 h1{
    padding-right: 50px;
    padding-top: 90px;
    font-size: 50px;
    text-align: right;
}
.detail-4 p{
    padding-top: 12px;
    padding-right: 40px;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: right;  
}
.box-5{
    width: 45%;
    height: 60vh;
    margin: 25px;
}
.detail-5 img{
    width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto;
}
.detail-5 h1{
    padding-left: 50px;
    padding-top: 90px;
    font-size: 50px;
}
.detail-5 p{
    padding-left: 40px;
    padding-top: 12px;
    font-size: 25px;
    letter-spacing: 1px;    
}
.about h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 50px;
    color: black;
    letter-spacing: 1px;
    font-weight: 900;
}
.container{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.pos{
    width:80%;
    margin: 0 auto;
}
footer{
    text-align: center;
    font-size: 25px;

}
